<html>
  <head>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script>
      
      function ajaxcall() {

        var name=document.getElementById('name').value;
        var school=document.getElementById('school').value;
        var inputData = {
          debaterName: name, 
          debaterSchool: school
        };
        var url="/sqlBackend.py";
        console.log("hi "+inputData['debaterName'])


        var response=fetch(url, {
          method: 'POST',
          body: JSON.stringify(inputData),
          headers: {'Content-Type': 'application/json'},
        })
        .then(
          let myPromise = Promise.resolve(response);
        

        );
      }
    </script>
  </head>
  <body>
    <div class="topBorder">
      <p>
        LD Tabroom Record Finder
      </p>
    </div>
    
    <div class="bottomBorder clear">
      <h1 class="right-buffer">Contact me:</h1>
      <div class="topOfBottomBanner">
        <h2 class="right-buffer">Email: timothylin6@gmail.com</h2> 
        
        <h2 class="right-align"><a href="https://github.com/TimothyJLin/Tabroom-scraper">Code can be found here, on Github</a></h2>
      </div>
      <h2 class="leftAlign right-buffer"><a href="https://www.instagram.com/chancellorvarus">Instagram: @ChancellorVarus</a></h2>
      
      
    </div>
    
    <h1>

  
  
      <form onsubmit="return ajaxcall()">
        <div class="centeralign firstDiv">
          <p>Search competitor by name</p>
          <input type="text" id="name" action="" class="textbox">
        </div>
        <p class="centeralign">OR</p>
        <div class="centeralign secondDiv">
          <p>Search competitor by school</p>
          <input type="text" id="school" action="" class="textbox">
        </div>
        
        <div class="centeralign"><button onclick="ajaxcall()" action="" class="bluebutton">Search user</button></div>
        
      </form>

    </h1>
  </body>
  </html>